[submodule "vendor/jsdifflib"]
	path = vendor/jsdifflib
	url = git://github.com/cemerick/jsdifflib.git
[submodule "vendor/jquery.fn.autoResize"]
	path = vendor/jquery.fn.autoResize
	url = git://github.com/padolsey/jQuery.fn.autoResize.git
